* {
    box-sizing: border-box;
}

html {
    width: 100%;
    min-height: 100%;
    background-color: #171A21;
    overflow-x: hidden;
}

body, #__next {
    width: 875px;
    min-height: 100%;
    margin: 0 auto;
    color: #ffffff;
}

h1, h2, h3, h4, p {
    margin: 0;
}

input {
    border: none;
}

button {
    border: none;
    cursor: pointer;
}

a {
    color: inherit;
    text-decoration: none;
}

@media only screen and (max-width: 450px) {
    body, #__next {
        width: 100%;
    }
}

@font-face {
    font-family: 'Kamerik';
    src: url('../public/fonts/Kamerik105Cyrillic-Book.ttf');
    font-weight: 400;
}


@font-face {
    font-family: 'Kamerik';
    src: url('../public/fonts/Kamerik105Cyrillic-Bold.ttf');
    font-weight: 700;
}

@font-face {
    font-family: 'Articulat';
    src: url('../public/fonts/ArticulatCF-Regular.otf');
    font-weight: 400;
}

@font-face {
    font-family: 'Articulat';
    src: url('../public/fonts/ArticulatCF-Medium.otf');
    font-weight: 500;
}

@font-face {
    font-family: 'Articulat';
    src: url('../public/fonts/ArticulatCF-DemiBold.otf');
    font-weight: 600;
}

@font-face {
    font-family: 'Articulat';
    src: url('../public/fonts/ArticulatCF-Bold.otf');
    font-weight: 700;
}

@font-face {
    font-family: 'SourceCodePro';
    src: url('../public/fonts/Source\ Code\ Pro\ for\ Powerline.otf');
    font-weight: 400;
}