html {
    width: 100%;
    height: 100%;
    background-color: #171A21;
    overflow-x: hidden;
}

body {
    width: 1000px;
    height: 100%;
    margin: 0 auto;
    color: #ffffff;
}

@font-face {
    font-family: 'Kamerik';
    src: url('../public/fonts/Kamerik105Cyrillic-Book.ttf');
    font-weight: 400;
}


@font-face {
    font-family: 'Kamerik';
    src: url('../public/fonts/Kamerik105Cyrillic-Bold.ttf');
    font-weight: 700;
}

@font-face {
    font-family: 'Articulat';
    src: url('../public/fonts/ArticulatCF-Medium.otf');
    font-weight: 500;
}

@font-face {
    font-family: 'Articulat';
    src: url('../public/fonts/ArticulatCF-DemiBold.otf');
    font-weight: 600;
}